header {
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: #FFF;
    border-bottom: 1px solid black;
    height: 5rem;
}

.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#site-name {
    color: #000;
    font-size: 1.85rem;
    font-style: normal;
    font-weight: 600;
    margin-left: 10.12rem;
}

nav {
    display: flex;
    flex-direction: row;
    margin-right: 3.37rem;
    text-align: center;
}

.menu-item {
    margin-right: 6.75rem;
    font-size: 1.3rem;
    font-weight: 500;
}
