#hero {
    height: 30rem;

    background-image: linear-gradient(to right, rgba(213, 226, 212, 0) 0%, rgba(226, 224, 212, 1) 42%, rgba(213, 226, 212, 0) 70%),
                      linear-gradient(to right, rgba(213, 226, 212, 0) 0%, rgba(226, 224, 212, 1) 42%, rgba(213, 226, 212, 0) 70%),
                      /* linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%), */
                      url(../images/medium-shot-students-library.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    background-color: #E2E0D4;
}

.hero-header {
    margin-left: 10.12rem;
    margin-top: 8rem;
    margin-bottom: 0rem;
    font-size: 3rem;
    font-weight: 700;
    width: 21.375rem;
}

.hero-sub-header {
    margin-left: 10.12rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    width: 18rem;
}

.hero-buttons {
    margin-left: 10.12rem;
    display: flex;
    justify-content: space-between;
    width: 13rem;
}

.try-it {
    background: #0ABDCA;
    border: none;
}

.learn-more {
    background: none;
}
