.random-book-section {
    height: 45rem;
    background: white;
    display: flex;
    flex-direction: column;
    padding-left: 10.12rem;
    padding-right: 10.12rem;
    justify-content: center;
    align-items: center;
}

.random-book-section-header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.randomized-book {
    height: 19rem;
    width: 14rem;
    align-self: center;
}

.options {
    height: 3rem;
    width: 14rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 1rem;
}

.options div:hover {
    opacity: 90%;
}

.randomized-book-cover {
    height: 16rem;
    width: 14rem;
    border-radius: 0.5rem;
}

.randomized-book-description {
    display: flex;
    flex-direction: column;
    max-height: 13rem;
    background-color: white;
    border-color: black;
    border-radius: 0.5rem;
    border-style: solid;
    position: absolute;
    overflow-y: auto;
    left: 10.12rem;
    right: 10.12rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    white-space: pre-wrap;
}

.pick-a-new-random-book {
    margin-top: 2rem;
    background: #0ABDCA;
    border: none;
    width: 16rem;
    align-self: center;
    text-align: center;
}

/* .like {
    background-image: url(../images/mdi_heart.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    width: 2rem;
}

.not-like {
    background-image: url(../images/mdi_trashcan.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    width: 2rem;
} */
