<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/styles/header.css?{{ cache_id }}">
        <link rel="stylesheet" href="../static/styles/footer.css?{{ cache_id }}">
        <link rel="stylesheet" href="../static/styles/common.css?{{ cache_id }}">
        <link rel="stylesheet" href="../static/styles/about.css?{{ cache_id }}">
        <title>About</title>
    </head>
    <body>
        <header>
            <div class="header-items">
                <h1 id="site-name"><a href="{{ url_for('tnp_home') }}">The Next Page</a></h1>
                <nav>
                    <h2 class="menu-item"><a href="{{ url_for('tnp_about') }}">About</a></h2>
                    <h2 class="menu-item"><a href="https://github.com/tobi-tobes/the_next_page/blob/master/README.md" target="_blank">Help</a></h2>
                </nav>
            </div>
        </header>
        <div class="about-container">
            <h2 class="about-header">About The Next Page</h2>
            <p class="about-text">
                The Next Page is the ALX Foundations Portfolio Project of Oluwaseyi Salami and Oluwatobi Tijani.
                The aim of the project is to foster a love of reading and make it easier for people to discover new
                books based on what they already love to read or because they&apos;re in the mood to try something new.
            </p>
            <h3 class="find-us">You can find us at:</h3>
            <div class="about-contributors">
                <div class="about-contributor">
                    <h4 class="about-contributor-name">Oluwaseyi Salami</h4>
                    <div class="about-contributor-socials">
                        <a href="https://www.linkedin.com/in/osalami/" class="about-linkedin" target="_blank"></a>
                        <a href="https://github.com/Pinerealm" class="about-github" target="_blank"></a>
                    </div>
                </div>
                <div class="about-contributor">
                    <h4 class="about-contributor-name">Oluwatobi Tijani</h4>
                    <div class="about-contributor-socials">
                        <a href="https://www.linkedin.com/in/oluwatobi-tijani/" class="about-linkedin" target="_blank"></a>
                        <a href="https://github.com/tobi-tobes" class="about-github" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
