<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/styles/header.css?{{ cache_id }}">
        <link rel="stylesheet" href="../static/styles/common.css?{{ cache_id }}">
        <link rel="stylesheet" href="../static/styles/hero.css?{{ cache_id }}">
        <link rel="stylesheet" href="../static/styles/filters.css?{{ cache_id }}">
        <link rel="stylesheet" href="../static/styles/recommendations.css?{{ cache_id }}">
        <link rel="stylesheet" href="../static/styles/random-book.css?{{ cache_id }}">
        <link rel="stylesheet" href="../static/styles/bookshelf.css?{{ cache_id }}">
        <link rel="stylesheet" href="../static/styles/footer.css?{{ cache_id }}">
        <title>The Next Page</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
        <script type="text/javascript" src="../static/scripts/recommendations.js?{{ cache_id }}"></script>
        <script type="text/javascript" src="../static/scripts/filters.js?{{ cache_id }}"></script>
        <script type="text/javascript" src="../static/scripts/bookshelf.js?{{ cache_id }}"></script>
        <script type="text/javascript" src="../static/scripts/random-book.js?{{ cache_id }}"></script>
    </head>
    <body>
        <header>
            <div class="header-items">
                <h1 id="site-name"><a href="{{ url_for('tnp_home') }}">The Next Page</a></h1>
                <nav>
                    <h2 class="menu-item"><a href="{{ url_for('tnp_about') }}">About</a></h2>
                    <h2 class="menu-item"><a href="https://github.com/tobi-tobes/the_next_page/blob/master/README.md" target="_blank">Help</a></h2>
                </nav>
            </div>
        </header>
        <div class="home-container">
            <section id="hero" class="hero-section">
                <h2 class="hero-header">Find Your Next Favorite Read!</h2>
                <h4 class="hero-sub-header">Make reading simple again!</h4>
                <div class="hero-buttons">
                    <button class="try-it"><a href="#filters">Try it!</a></button>
                    <button class="learn-more"><a href="https://github.com/tobi-tobes/the_next_page/blob/master/README.md" target="_blank">Learn More</a></button>
                </div>
            </section>
            <section id="filters" class="filters-section">
                <h3 class="filters-section-header">To get your recommendations, pick from the options below:</h3>
                <div class="dropdown genre-filters">
                    <button class="dropbtn">Pick a genre...</button>
                    <ul class="popover">
                        <li class="popover-option"><input type="checkbox" data-name="Fiction">Fiction</li>
                        <li class="popover-option"><input type="checkbox" data-name="Non-Fiction">Non-Fiction</li>
                    </ul>
                </div>
                <div class="dropdown topic-filters">
                    <button class="dropbtn">Pick a topic...</button>
                    <ul class="popover">
                        <!-- Topic filters will be dynamically loaded here -->
                    </ul>
                </div>
                <div class="dropdown age-category-filters">
                    <button class="dropbtn">Pick an age category...</button>
                    <ul class="popover">
                        <li class="popover-option"><input type="checkbox" data-name="Children">Children</li>
                        <li class="popover-option"><input type="checkbox" data-name="Middle Grade">Middle Grade</li>
                        <li class="popover-option"><input type="checkbox" data-name="Young Adult">Young Adult</li>
                        <li class="popover-option"><input type="checkbox" data-name="Adult">Adult</li>
                    </ul>
                </div>
                <div class="dropdown book-length-filters">
                    <button class="dropbtn">Pick a book length...</button>
                    <ul class="popover">
                        <li class="popover-option"><input type="checkbox" data-name="Short">Short</li>
                        <li class="popover-option"><input type="checkbox" data-name="Mid-Length">Mid-length</li>
                        <li class="popover-option"><input type="checkbox" data-name="Long">Long</li>
                    </ul>
                </div>
                <button class="get-your-recommendations"><a href="#recommendations">Get your recommendations!</a></button>
                <h4>or</h4>
                <button class="pick-a-random-book"><a href="#random-book">Pick a random book!</a></button>
            </section>
            <section id="recommendations" class="hidden">
                <h3 class="recommendations-section-header">Based on your choices, here are some recommendations for you:</h3>
                <div class="recommended-books">
                    <!-- Recommended books will be dynamically loaded here -->
                </div>
                <button class="view-your-bookshelf"><a href="#bookshelf">View your bookshelf!</a></button>
            </section>
            <section id="random-book" class="hidden">
                <h3 class="random-book-section-header">Here&apos;s your random book:</h3>
                <!-- Random book will be dynamically loaded here -->
                <!-- "Pick a new random book!" button will be loaded here -->
            </section>
            <section id="bookshelf" class="hidden">
                <h3 class="bookshelf-section-header">Here are the books on your recommendations bookshelf:</h3>
                <div class="bookshelf-books">
                    <!-- Bookshelf books will be loaded here dynamically -->
                </div>
                <div class="bookshelf-buttons">
                    <button class="download-your-bookshelf">Download your bookshelf!</button>
                    <button class="get-new-recommendations"><a href="#filters">Get new recommendations</a></button>
                </div>
            </section>
        </div>
        <footer>
            <h3 class="footer-header">Portfolio Project created by:</h3>
            <div class="contributors">
                <div class="contributor">
                    <h4 class="contributor-name">Oluwaseyi Salami</h4>
                    <div class="contributor-socials">
                        <a href="https://www.linkedin.com/in/osalami/" class="linkedin" target="_blank"></a>
                        <a href="https://github.com/Pinerealm" class="github" target="_blank"></a>
                    </div>
                </div>
                <div class="contributor">
                    <h4 class="contributor-name">Oluwatobi Tijani</h4>
                    <div class="contributor-socials">
                        <a href="https://www.linkedin.com/in/oluwatobi-tijani/" class="linkedin" target="_blank"></a>
                        <a href="https://github.com/tobi-tobes" class="github" target="_blank"></a>
                    </div>
                </div>
            </div>
            <h5 class="copyright">Copyright &copy; 2023</h5>
        </footer>
    </body>
</html>
